body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    height: 540px;
    gap: 90px;
    
}
.navigation{
    padding: 8px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

.headerlogo{
    font-size: 32px;
    font-weight: 900;
    color: #eb7915;
    
}

.headerlogo2{
    font-size: 28px;
    font-weight: 700;
       
}

.headerlogo2,span{
    color: #6bdaff;
}

.headerlogo3{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #eb7915;
}



.ul1{
    list-style-type: none;
    display: flex;
    gap: 12px;
}

a{
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
}

.intro{
    padding: 8px 120px;
    display: flex;
    justify-content: space-between;
}


.introhead{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    text-align: left;
    width: 360px;
    margin-bottom: 8px;
}

.intropart{
    font-size: 18px;
    color: #e5e7eb;
    text-align: left;
    width: 380px;
    padding-bottom: 8px;
}

.introbutton{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    height: 38px;
    width: 130px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    text-align: center;
    border-style: none;

}

.introimg{
    height: 300px;
    width: 600px;
    box-shadow: 6.6px 13.1px 13.1px hsl(0deg 0% 0% / 0.30);
}

#slideshow {
    overflow: hidden;
    height: 510px;
    width: 600px;
    margin: 0 auto;
}



.slide {
    float: left;
    height: 510px;
    width: 728px;
}


.slide-wrapper {
    

    width: calc(728px * 5);

    animation: slide 30s ease infinite;
}

@keyframes slide {
    
    10% {
        margin-left: 0px;
    }
    30% {
        margin-left: calc(-728px * 1);
    }
    50% {
        margin-left: calc(-728px * 2);
    }
    70% {
        margin-left: calc(-728px * 3);
    }
    90%{
        margin-left: calc(-728px * 4);
    }
}


.header2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    gap: 32px;
}

.imginfo{
    height: 240px;
    width: 180px;
    max-width: 95%;
    border: 3px solid black;
}

.imgwithinfo{
    display: flex;
    justify-content: center;
    gap: 52px;
}

.imgalign{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-size: 16px;
    font-weight: 700;
    color: #1f2937;
    gap: 12px;
}

.info2{
    margin-bottom: 32px;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}


.header3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 36px;
    background-color: #e5e7eb;
    color: #1f2937;
    font-style: italic;
    height: 360px;
    margin-top: 144px;
}


.qoute{
    position: absolute;
    width: 620px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    gap: 8px;
}
  
p{
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
    color: #1f2937;
    font-style: normal;
}

.header4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 12px;
    text-align: right;
}

.signupbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    height: 150px;
    width: 70%;
    border-radius: 8px;
    
}

.contenth4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.heading4{
    font-size: 24px;
    font-weight: 900;
}

.contsign{
    font-size: 18px;
}

.signh4{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    height: 38px;
    width: 130px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    text-align: center;
    border:2px solid whitesmoke;

}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 85px;
}

.copyrights{
    font-size: 16px;
    color: #f9faf8;
}